/**
* @name Lapse
* @author advyte
* @description Yet another minimal theme.
* @version 1.0
*/



:root {

  --background-image: url('https://images.unsplash.com/photo-1643557763588-da65ca5e33a8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
      
  --home-button-icon: url('https://i.pinimg.com/originals/75/0f/57/750f57aef231b96e3f21f3650ac82008.jpg');
  
  --inbox-bg-img: url('https://raw.githubusercontent.com/4dvyte/XOPichu/main/assets/window-xo.png');
  
  --profile-lapse: url('https://raw.githubusercontent.com/4dvyte/XOPichu/main/assets/xo-profile-bg.png');
  
  /* --background-tertiary-alt: url();  */
  --background-tertiary-alt: rgba(177, 177, 177, 0.671);
  
  /* Border-radius for the whole theme */
  --border-radius: 30px;
  
  --bg-blur: 20px;
  --bg-blur-secondary: 15px;
  
  --button: #014d18;
  
  }
  
  .theme-dark {

    /* Text */
    --text-normal: #f8e1e5;
    --header-primary: #ffffff;
    --interactive-normal: #ffffff;
    --channels-default: #ffffff;

    --text-muted: #ffffff;
    --interactive-muted: #858585;

    --header-secondary: #858585;
    --interactive-hover: #a0a0a0;
    --interactive-active: #e2e2e2;

    /* Background color */
    --background-primary: #2424248c !important;
    --background-secondary: #0c0c0c6b !important;
    --background-secondary-alt: #14141479 !important;
    --background-tertiary: #1a1a1a79 !important;
    --background-floating: #131313ce !important;
    --background-accent: #1d1d1d !important;
    --channeltextarea-background: var(--background-secondary);
    --background-modifier-hover: rgba(48, 44, 44, 0.32) !important;
    --background-modifier-active: rgba(17, 12, 12, 0.32) !important;
    --background-modifier-selected: rgba(31, 21, 21, 0.32) !important;
    --toast-background: #3d3638 !important;
    --toast-header: #292526 !important;
    --toast-contents: #252424 !important;
    --toast-border: #242323 !important;
    --input-background: var(--background-secondary);

    /* Scrollbar */
    --scrollbar-auto-thumb: var(--background-tertiary);
    --scrollbar-auto-track: var(--background-secondary-alt);
    --scrollbar-thin-thumb: var(--background-tertiary);
    --scrollbar-thin-track: transparent;

    /* Other */
    --channel-text-area-placeholder: var(--interactive-normal);
    --deprecated-quickswitcher-input-background: var(--background-primary);
}
  .theme-light {
  
    /* Text */
      --text-normal: #000000;
      --header-primary: #000000;
      --interactive-normal: #000000;
      --channels-default: #000000;
  
      --text-muted: #000000;
      --interactive-muted: #1b1b1b;
  
      --header-secondary: #000000;
      --interactive-hover: #242424;
      --interactive-active: #141414;
  
      /* Background color */
      --background-primary: #d4d4d47e !important;
      --background-secondary: #a5a5a59c !important;
      --background-secondary-alt: #8d8d8d6b !important;
      --background-tertiary: #80808096 !important;
      --background-floating: #818181da !important;
      --background-accent: #838383a4 !important;
      --channeltextarea-background: var(--background-secondary);
      --background-modifier-hover: rgba(141, 153, 143, 0.32) !important;
      --background-modifier-active: rgba(117, 138, 126, 0.32) !important;
      --background-modifier-selected: rgba(137, 156, 143, 0.32) !important;
      --toast-background: #b5c9b3d5 !important;
      --toast-header: #a8beadda !important;
      --toast-contents: #bbbbbb !important;
      --toast-border: #b4b4b4d0 !important;
      --input-background: var(--background-secondary);
  
      /* Scrollbar */
      --scrollbar-auto-thumb: var(--background-tertiary);
      --scrollbar-auto-track: var(--background-secondary-alt);
      --scrollbar-thin-thumb: var(--background-tertiary);
      --scrollbar-thin-track: transparent;
  
      /* Other */
      --channel-text-area-placeholder: var(--interactive-normal);
      --deprecated-quickswitcher-input-background: var(--background-primary);
  }

:root .bg__12180 {
  background: var(--background-image) center/cover no-repeat !important;
}
.buttonsInner_bca8fa{
  background: var(--background-accent);
}
.nowPlayingColumn_f5023f,.typeWindows__5fa63 {
  background: var(--background-primary) !important;
}
.container__6bc11,.recentMentionsPopout__826a9 {
  background: var(--inbox-bg-img) center/cover no-repeat !important;
  backdrop-filter: blur(var(--bg-blur-secondary)) !important;
}
.container__5c7e7,.tree__7a511,.title_b7d661,.chatContainer__23434 {
  backdrop-filter: blur(var(--bg-blur)) !important;
}
.sidebar_ded4b5,.scroller__750f5,.titleBar__01af6 {
  backdrop-filter: blur(var(--bg-blur-secondary));
}
.children__32014:after {
  display: none !important;
}
