/**
* @name Lapse
* @author advyte
* @description Yet another minimal theme.
* @version 1.0
*/



:root {

  --background-image: url('https://images.unsplash.com/photo-1643557763588-da65ca5e33a8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
      
  /* --home-button-icon: url('https://i.pinimg.com/originals/75/0f/57/750f57aef231b96e3f21f3650ac82008.jpg');
  
  --inbox-bg-img: url('https://raw.githubusercontent.com/4dvyte/XOPichu/main/assets/window-xo.png');
  
  --profile-xo-logo: url('https://raw.githubusercontent.com/4dvyte/XOPichu/main/assets/xo-profile-bg.png'); */
  
  /* --background-tertiary-alt: url();  */
  --background-tertiary-alt: rgba(177, 177, 177, 0.671);
  
  /* Border-radius for the whole theme */
  --border-radius: 30px;
  
  --bg-blur: 30px;
  --bg-blur-secondary: 15px;
  
  --button: #014d18;
  
  }
  
  .theme-dark {

    /* Text */
    --text-normal: #f8e1e5;
    --header-primary: #ffffff;
    --interactive-normal: #ffffff;
    --channels-default: #ffffff;

    --text-muted: #ffffff;
    --interactive-muted: #858585;

    --header-secondary: #858585;
    --interactive-hover: #a0a0a0;
    --interactive-active: #e2e2e2;

    /* Background color */
    --background-primary: #2424248c !important;
    --background-secondary: #0c0c0c6b !important;
    --background-secondary-alt: #14141479 !important;
    --background-tertiary: #1a1a1a79 !important;
    --background-floating: #131313ce !important;
    --background-accent: #1d1d1d !important;
    --channeltextarea-background: var(--background-secondary);
    --background-modifier-hover: rgba(48, 44, 44, 0.32) !important;
    --background-modifier-active: rgba(17, 12, 12, 0.32) !important;
    --background-modifier-selected: rgba(31, 21, 21, 0.32) !important;
    --toast-background: #3d3638 !important;
    --toast-header: #292526 !important;
    --toast-contents: #252424 !important;
    --toast-border: #242323 !important;
    --input-background: var(--background-secondary);

    /* Scrollbar */
    --scrollbar-auto-thumb: var(--background-tertiary);
    --scrollbar-auto-track: var(--background-secondary-alt);
    --scrollbar-thin-thumb: var(--background-tertiary);
    --scrollbar-thin-track: transparent;

    /* Other */
    --channel-text-area-placeholder: var(--interactive-normal);
    --deprecated-quickswitcher-input-background: var(--background-primary);
}
  .theme-light {
  
    /* Text */
      --text-normal: #000000;
      --header-primary: #000000;
      --interactive-normal: #000000;
      --channels-default: #000000;
  
      --text-muted: #000000;
      --interactive-muted: #1b1b1b;
  
      --header-secondary: #000000;
      --interactive-hover: #242424;
      --interactive-active: #141414;
  
      /* Background color */
      --background-primary: #d4d4d47e !important;
      --background-secondary: #a5a5a59c !important;
      --background-secondary-alt: #8d8d8d6b !important;
      --background-tertiary: #80808096 !important;
      --background-floating: #818181da !important;
      --background-accent: #838383a4 !important;
      --channeltextarea-background: var(--background-secondary);
      --background-modifier-hover: rgba(141, 153, 143, 0.32) !important;
      --background-modifier-active: rgba(117, 138, 126, 0.32) !important;
      --background-modifier-selected: rgba(137, 156, 143, 0.32) !important;
      --toast-background: #b5c9b3d5 !important;
      --toast-header: #a8beadda !important;
      --toast-contents: #bbbbbb !important;
      --toast-border: #b4b4b4d0 !important;
      --input-background: var(--background-secondary);
  
      /* Scrollbar */
      --scrollbar-auto-thumb: var(--background-tertiary);
      --scrollbar-auto-track: var(--background-secondary-alt);
      --scrollbar-thin-thumb: var(--background-tertiary);
      --scrollbar-thin-track: transparent;
  
      /* Other */
      --channel-text-area-placeholder: var(--interactive-normal);
      --deprecated-quickswitcher-input-background: var(--background-primary);
  }

:root .bg-1QIAus {
  background: var(--background-image) center/cover no-repeat !important;
}
.container-2ebMPP,.recentMentionsPopout-2bI1ZN {
  background: var(--inbox-bg-img) center/cover no-repeat !important;
  backdrop-filter: blur(var(--bg-blur-secondary)) !important;
}
.header-145e10.expanded-2H1xJ- {
  background: none !important;
  backdrop-filter: blur(var(--bg-blur-secondary));
}
.container-ZMc96U.themed-Hp1KC_,
.scroller-kQBbkU,
.scroller-18M1mG,
.form-3gdLxP,
.peopleColumn-1wMU14,
.guilds-2JjMmN,
.userPanelOverlayBackground-3xwDMp
{
  backdrop-filter: blur(var(--bg-blur)) !important;
}
.container-YkUktl {
  background: var(--background-accent) !important;
  backdrop-filter: blur(var(--bg-blur-secondary));
}
.withFrame-2dL45i,
.container-2cd8Mz,
.inviteToolbar-2k2nqz,
.members-3WRCEx {
  background: var(--background-primary) !important;
}
:root .bg-1QIAus {
  background: var(--background-image) center/cover no-repeat !important;
}
.header-145e10.expanded-2H1xJ- {
  background: none !important;
  backdrop-filter: blur(var(--bg-blur-secondary));
}
.contentRegion-3HkfJJ, .sidebarRegion-1VBisG, .sidebarRegionScroller-FXiQOh {
  background: none !important;
  backdrop-filter: blur(var(--bg-blur-secondary));
}
.sidebarRegionScroller-FXiQOh,
.members-3WRCEx,
:root .nowPlayingColumn-1eCBCN .scroller-hE2gWq,
:root .nowPlayingColumn-1eCBCN::after,
.recentMentionsPopout-2bI1ZN,
.sidebar-1tnWFu {
  backdrop-filter: blur(var(--bg-blur-secondary));
}
.container-ZMc96U.themed-Hp1KC_,
.scroller-kQBbkU,
.scroller-18M1mG,
.form-3gdLxP,
.peopleColumn-1wMU14,
.guilds-2JjMmN,
.userPanelOverlayBackground-3xwDMp,
.typeWindows-3ILlhq
{
backdrop-filter: blur(var(--bg-blur)) !important;
}
.container-YkUktl {
  background: var(--background-accent) !important;
  backdrop-filter: blur(var(--bg-blur-secondary));
}
.container-2ebMPP,.recentMentionsPopout-2bI1ZN {
  background: var(--inbox-bg-img) center/cover no-repeat !important;
  backdrop-filter: blur(var(--bg-blur-secondary)) !important;
}
.header-145e10.expanded-2H1xJ- {
  background: none !important;
  backdrop-filter: blur(var(--bg-blur-secondary));
}
.colorStreamerMode-8uoRWd {
  background-color: var(--background-accent) !important;
  color: var(--white-100) !important;
}
.nowPlayingColumn-1eCBCN {
  background: none !important;
  backdrop-filter: var(--bg-blur-secondary);
}
.theme-dark .titleBar-1it3bQ .winButton-3UMjdg {
  width: 40px;
  height: 30px;
}
.scroller-hE2gWq {
  padding: 16px;
  height: 100%;
  border-left: 1px solid var(--background-modifier-accent);
  margin-left: 2px;
}
.titleBar-1it3bQ {
  z-index: 3001;
  -webkit-app-region: drag;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
